{:tasks
 {gen
  {:doc "Generate the unified Org file and PDF"
   :task
   (do
     (shell "mkdir" "-p" "output")
     (shell "sh" "-c"
            "cat gesso-unified-design-canonical-r4-*.org > output/gesso-plan-v4.org")
     (shell "fish" "-c"
            "orgToPdf output/gesso-plan-v4.org"))}}}
